TALLER #4

In [1]:
for i in range(2, 101, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [2]:
edad = int(input("Por favor, ingresa tu edad: "))

for i in range(1, edad + 1):
    print("Has cumplido", i, "años")

Por favor, ingresa tu edad: 21
Has cumplido 1 años
Has cumplido 2 años
Has cumplido 3 años
Has cumplido 4 años
Has cumplido 5 años
Has cumplido 6 años
Has cumplido 7 años
Has cumplido 8 años
Has cumplido 9 años
Has cumplido 10 años
Has cumplido 11 años
Has cumplido 12 años
Has cumplido 13 años
Has cumplido 14 años
Has cumplido 15 años
Has cumplido 16 años
Has cumplido 17 años
Has cumplido 18 años
Has cumplido 19 años
Has cumplido 20 años
Has cumplido 21 años

In [3]:
numero = int(input("Por favor, ingresa un número entero positivo: "))

numeros_impares = []

for i in range(1, numero + 1, 2):
    numeros_impares.append(str(i))

print(",".join(numeros_impares))

Por favor, ingresa un número entero positivo: 28
1,3,5,7,9,11,13,15,17,19,21,23,25,27

In [4]:
suma_pares = 0

for i in range(2, 101, 2):
    suma_pares += i

print("La suma de todos los números pares del 1 al 100 es:", suma_pares)

La suma de todos los números pares del 1 al 100 es: 2550